.movies-list {
  text-align: left;
  background-color: #222;
  color: white;
}

.movies-list__sorting {
  padding: 5px;
}

.movies-list__items {
  display: flex;
  flex-flow: row wrap;
}

.movie-list-item-wrapper {
  cursor: pointer;
  width: 25%;
  position: relative;
}

.movie-list-item {
  margin: 5px;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  background-color: darkgray;
}

.movie-list-item__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  transition: all 0.3s;
}

:hover > .movie-list-item__image {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.7;
}

.movie-list-item__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(rgba(0,0,0,0),  black);
}

.movie-list-item__title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

.movie-list-item__vote {
  color: yellow;
  font-weight: 700;
  margin-left: 5px;
}

.movie-list-item.selected {
  text-decoration: underline;
}
